<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @actor.file %>
</p>

<p>
  <strong>Id:</strong>
  <%= @actor.id %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
